body {
  margin-top:50px;
  font-size: 16px;
}
section {
  padding: 30px;
  height: 100vh;
  background-color: transparent;
}
section.text {
  background-color: #fff;
}
header,footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 50px;
}
header {
  position: fixed;
  top:0;
  width: 100%;
}
nav ul {
  list-style: none;
  padding-left:0;
}
nav ul li {
  display: inline;
}
nav ul li a {
  display: inline-block;
  color: #fff;
  margin: 0 1em;
}
nav ul li a:focus,
nav ul li a:hover {
  color: #fff;
}
.bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  top:0;
  left:0;
  height: 100vh;
  width: 100%;
  z-index:-1;
}
.bg1 {
  background-image: url( http://lorempixel.com/1920/1080/people );
}
.bg2 {
  background-image: url( http://lorempixel.com/1920/1080/city );
}
.bg3 {
  background-image: url( http://lorempixel.com/1920/1080/food );
}
.bg4 {
  background-image: url( http://lorempixel.com/1920/1080/cats );
}
